{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="maincontent" style="border-top:4px solid #6c8835;margin-top:20px;">
<div class="container">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'products' %}">Browse Products</a></li>
        </ol>
    <div class="row">
            <div class="col-md-6" style="margin-top:20px;">
                {% if product.image %}
                    <img class="img-responsive product-image" src="/media/{{ product.image }}"/>
                {% else %}
                    <div class="#">No images</div>
                {% endif %}
</div>
    <div class="col-md-6">
                <h2 class="product-header">{{ product.product }}</h2>
                <p class="product-details-desc">{{ product.description }}</p>
                <p class="product-details-price">€ {{ product.price }}</p>
                <p class="product-details-views">Views: {{ product.views }}</p>
                <hr>
                <p>
                    <button class="add-cart-btn" onclick="location.href='{% url "shopping-cart-add" %}?id={{product.id}}'">Add to cart</button>
                    <button class="purchase-btn" onclick="location.href='{% url 'pay_now_stripe' product.id %}'">Buy it now</button>
                </p>
      </div>
    </div>
</div>
    <div class="product-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h2 class="product-info-header">Product Info</h2>
                    <p class="product-info-desc">Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place
                        of English to emphasise design elements over content. It's also called placeholder (or filler)
                        text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document
                        or presentation, eg typography, font, or layout. Lorem ipsum is mostly a part of a Latin text by
                        the classical author and philosopher Cicero. Its words and letters have been changed by addition
                        or removal, so to deliberately render its content nonsensical; </p>

                </div>
                <div class="col-xs-6">

                    <h2 class="product-info-header">Brand</h2>
                    <p class="product-info-desc">Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place
                        of English to emphasise design elements over content. It's also called placeholder (or filler)
                        text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document
                        or presentation, eg typography, font, or layout. Lorem ipsum is mostly a part of a Latin text by
                        the classical author and philosopher Cicero. Its words and letters have been changed by addition
                        or removal, so to deliberately render its content nonsensical;
                        </p>

                </div>
            </div>
        </div>

    </div>
    </div>

    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}