{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
    <div class="maincontent">
<ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
           <li class="breadcrumb-item">change-password</li>
        </ol>
<div class="container">
<h2>Change Password</h2>


<form method="POST">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <button type="submit">Save</button>
</form>

</div>
    </div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}