{% extends 'base.html' %}
{% block content %}
<div class="maincontent">
<ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">Profile_Change</li>
        </ol>
    <div class="container">
    <h2 style="text-align: center; margin:63px;">
        Success! Your password has been changed!
        <br>
    </h2>
        <p style="text-align:center;">You have been automatically signed out. Sign in <a href="{% url 'login' %}">here</a> using new password. </p>

    </div>
</div>
{% endblock %}