{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
    <div class="maincontent" style="border-top:4px solid #6aefcc;margin-top:20px;padding:20px;">
    <div class="container">

    <!-- Breadcrumbs -->
        <ol class="breadcrumb" style="background-color:#fff;text-align:center;">
            <li class="breadcrumb-item" style="font-family:raleway;">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" style="font-family:raleway;">Contact</li>
        </ol>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                 <form role="form" action="{% url 'contact'%}" method="post" novalidate>
                    <legend>Have a question? &nbsp;<strong>Send us a message!</strong></legend>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <p>{{ field }}</p>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    </div>
{% endblock %}