{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb" style="background-color:#fff;text-align:center;">
            <li class="breadcrumb-item" style="font-family:raleway;">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" style="font-family:raleway;">Cart</li>
        </ol>

        <!-- Content Row -->
        <p>You have no items in your cart.</p>
        <p><a href="{% url 'products' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Go shopping</a></p>
        <!-- End of Content -->
    </p>
{% endblock %}