{% extends 'base.html' %}
{% load carton_tags %}
<html>
<body>
{% block content %}
<div class="box">
<h1>Shopping Cart</h1>

{% get_cart as cart %}

    <table border="1">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for item in cart.items %}
    <tr>
        <td>{{ item.product }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.subtotal }}</td>
        <td><a class="fa fa-trash-o" aria-hidden="true" href="{% url "shopping-cart-remove" %}?id={{ item.product.id }}"></a></td>
    </tr>
        {% endfor %}
    </table>

    Total: {{ cart.total }}
</div>
{% endblock %}
</body>
</html>