{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="maincontent" style="border-top:4px solid #6aefcc;margin-top:20px;padding:20px;">
    <div class="container">
    <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">login</li>
        </ol>
        <div class="col-xs-3">

        </div>
        <div class="col-xs-6">
    <form role="form" method="post" action="{% url 'login' %}">
        <legend>Login</legend>
        {% csrf_token %}
        {{ form| as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
            <div class="register-link">
        <p style="text-align:center;">Not a registered member? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
            </div>
        <div class="col-xs-3"></div>


    </div>
    </div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}