{% extends "base.html" %}
{% load staticfiles %}
{% load gravatar %}
{% block content %}
<div class="maincontent">
    <div class="container">

    <!-- Breadcrumbs -->

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">My Profile</li>
        </ol>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="seller-dashboard-header">Seller Dashboard</h2>
        </div>
    </div>
    <div class="row">
    <div class="col-xs-12">
        <hr>
        <p class="welcome-message">Welcome, {{ user.username }}!</p>
        <hr>
    </div>
    </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="seller-info">
                    <h2 class="seller-details-header">My Details:</h2>
                <a class="profile-img" href="#">
                 <img src="{% gravatar_url user.email %}"
                         style="width:150px; height: 150px; background-color: #fff; color: #ffffff;"
                         class="img-circle">

                </a>
                    <p class="seller-info"><strong>Username: </strong>{{ user.username }}</p>
                    <p class="seller-info"><strong>Email address: </strong>{{ user.email }}</p>
                    </div>

                <div class="seller-actions">
                    <div class="add-new-product">
                        <button class="add-new-btn" onclick="location.href='{% url 'new' %}'">Add New Products</button>
                        <button class="add-new-btn" onclick="location.href='{% url 'change_password' %}'">Change Password</button>
                        <button class="add-new-btn" onclick="location.href='{% url 'edit_profile' %}'">Edit Profile</button>

                    </div>

                </div>

            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">


                <h2 class="seller-details-header">My Products:</h2>

                {% for product in products %}

                    {% if user.id == product.seller_id %}
                        <div class="col-md-3">
<a style="cursor:pointer; text-decoration:none;" onclick="location.href='{% url 'productpage' product.id %}'">
                        {% if product.image %}

                <img src="/media/{{ product.image }}" style="width:200px; height: 200px;" /> {% else %}
            <div class="">No images available</div>

                {% endif %}
</a>
                        <p class="seller-product-item"><strong>Product title: </strong>{{ product.product}}</p>
                        <p class="seller-product-price"><strong>Product Price: </strong>&euro;{{ product.price}}</p>
                        <button class="edit-btn" onclick="location.href='{% url 'edit' product.id %}'">Edit
                            Product
                        </button>

                        <hr>
                        </div>
                    {% endif %}


                {% endfor %}

            </div>
    </div>
</div>
    </div>
</div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}